*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: 'Young-Serif';
    src: url(../fonts/Young_Serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}
.aboutmeimg{
    height: 300px;
    border-radius: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Young-Serif';
}
p,a,form{
    font-family: 'Outfit';  
}
a{
    color: white;
}
.projects-container{
    max-width: 1330px;
}